### IMPORTATION DES LIBRAIRIES

In [1]:
import pandas as pd
import numpy as np
import random

#### Création de la variable SMIC annuel brut de 19 237,82 €

* Le salaire minimum annuel est égal au taux horaire minimum 10,57€ au 01/01/2022
* Volume horaire mensuel = 151,67
* Total sur 12 mois

In [2]:
smic_annuel_brut = 10.57*151.67*12
smic_annuel_brut

19237.822799999998

In [3]:
smic_charge = smic_annuel_brut*1.045
smic_charge

20103.524825999997

#### Création de la variable "coût chargé" que l'employeur doit multiplier au salaire brut (= coût total chargé)

In [4]:
cout_charge = 1.045

#### Création du barème de la part variable de rémunération

En fonction du chiffre d'affaires obtenu, le salarié percevra : SMIC mensuel + (chiffres d'affaires mensuel * barème)
* Exemple avec un CA mensuel de 2 700,00€ : 1603,15 (SMIC) + (2700*3%) alors le salarié percevra 1684,15 €

In [5]:
bareme = [0, 0.03, 0.09, 0.13, 0.16, 0.18, 0.2]
bareme

[0, 0.03, 0.09, 0.13, 0.16, 0.18, 0.2]

In [6]:
"""Fonction qui détermine la part variable brute que gagne 
un salarié avec le montant du chiffre d'affaires mensuel obtenu"""

def find_variable(ca):
    if ca in range(0, 2500):
        return ca*bareme[0]
    if ca in range(2500, 4166):
        return ca*bareme[1]
    if ca in range(4166, 8333):
        return ca*bareme[2]
    if ca in range(8333, 12500):
        return ca*bareme[3]
    if ca in range(12500, 16666):
        return ca*bareme[4]
    if ca in range(16666, 20833):
        return ca*bareme[5]
    if ca >= 20833:
        return ca*bareme[6]

In [7]:
#Avec un chiffre d'affaires mensuel de 3000€ obtenu, le salarié touchera un montant mensuel de 90€ brut en plus du SMIC brut mensuel
find_variable(3000)

90.0

#### Création d'un DataFrame

* 1 ligne = 1 rémunération annuelle
* Ajout de 100 000 chiffre d'affaires mensuels aléatoires

In [8]:
colnames = ['CAJANV','CAFEV','CAMARS','CAAVRIL','CAMAI','CAJUIN','CAJUILL','CAAOUT','CASEPT','CAOCT','CANOV','CADEC','SMIC']

In [9]:
df = pd.DataFrame(columns=colnames)

In [10]:
df['CAJANV'] = np.random.random_integers(0, 50000, 100000)
df['CAFEV'] = np.random.random_integers(0, 50000, 100000)
df['CAMARS'] = np.random.random_integers(0, 50000, 100000)
df['CAAVRIL'] = np.random.random_integers(0, 50000, 100000)
df['CAMAI'] = np.random.random_integers(0, 50000, 100000)
df['CAJUIN'] = np.random.random_integers(0, 50000, 100000)
df['CAJUILL'] = np.random.random_integers(0, 50000, 100000)
df['CAAOUT'] = np.random.random_integers(0, 50000, 100000)
df['CASEPT'] = np.random.random_integers(0, 50000, 100000)
df['CAOCT'] = np.random.random_integers(0, 50000, 100000)
df['CANOV'] = np.random.random_integers(0, 50000, 100000)
df['CADEC'] = np.random.random_integers(0, 50000, 100000)
df['SMIC'] = smic_annuel_brut
#df['COUTCHARGE']  = (df['SMIC']+df['VAR'])*cout_charge

<ipython-input-10-f87b7a1bd50e>:1: DeprecationWarning: This function is deprecated. Please call randint(0, 50000 + 1) instead
  df['CAJANV'] = np.random.random_integers(0, 50000, 100000)
<ipython-input-10-f87b7a1bd50e>:2: DeprecationWarning: This function is deprecated. Please call randint(0, 50000 + 1) instead
  df['CAFEV'] = np.random.random_integers(0, 50000, 100000)
<ipython-input-10-f87b7a1bd50e>:3: DeprecationWarning: This function is deprecated. Please call randint(0, 50000 + 1) instead
  df['CAMARS'] = np.random.random_integers(0, 50000, 100000)
<ipython-input-10-f87b7a1bd50e>:4: DeprecationWarning: This function is deprecated. Please call randint(0, 50000 + 1) instead
  df['CAAVRIL'] = np.random.random_integers(0, 50000, 100000)
<ipython-input-10-f87b7a1bd50e>:5: DeprecationWarning: This function is deprecated. Please call randint(0, 50000 + 1) instead
  df['CAMAI'] = np.random.random_integers(0, 50000, 100000)
<ipython-input-10-f87b7a1bd50e>:6: DeprecationWarning: This function is deprecated. Please call randint(0, 50000 + 1) instead
  df['CAJUIN'] = np.random.random_integers(0, 50000, 100000)
<ipython-input-10-f87b7a1bd50e>:7: DeprecationWarning: This function is deprecated. Please call randint(0, 50000 + 1) instead
  df['CAJUILL'] = np.random.random_integers(0, 50000, 100000)
<ipython-input-10-f87b7a1bd50e>:8: DeprecationWarning: This function is deprecated. Please call randint(0, 50000 + 1) instead
  df['CAAOUT'] = np.random.random_integers(0, 50000, 100000)
<ipython-input-10-f87b7a1bd50e>:9: DeprecationWarning: This function is deprecated. Please call randint(0, 50000 + 1) instead
  df['CASEPT'] = np.random.random_integers(0, 50000, 100000)
<ipython-input-10-f87b7a1bd50e>:10: DeprecationWarning: This function is deprecated. Please call randint(0, 50000 + 1) instead
  df['CAOCT'] = np.random.random_integers(0, 50000, 100000)
<ipython-input-10-f87b7a1bd50e>:11: DeprecationWarning: This function is deprecated. Please call randint(0, 50000 + 1) instead
  df['CANOV'] = np.random.random_integers(0, 50000, 100000)
<ipython-input-10-f87b7a1bd50e>:12: DeprecationWarning: This function is deprecated. Please call randint(0, 50000 + 1) instead
  df['CADEC'] = np.random.random_integers(0, 50000, 100000)

In [11]:
df.head()

,CAJANV,CAFEV,CAMARS,CAAVRIL,CAMAI,CAJUIN,CAJUILL,CAAOUT,CASEPT,CAOCT,CANOV,CADEC,SMIC
0,28159,21008,19557,3710,20836,6414,8686,5008,22117,23192,30729,40019,19237.8228
1,33341,32849,6017,35810,35411,4118,8809,39081,35183,19257,33134,40532,19237.8228
2,30463,24041,40928,44594,12695,1261,42966,24757,16843,41750,36750,51,19237.8228
3,39689,4975,33500,9748,28122,12709,7140,43354,8217,42268,27682,20336,19237.8228
4,25216,35466,6606,49988,33907,43304,27805,21610,36685,30610,34510,45158,19237.8228

##### Création d'une colonne "Coût mensuel"
* Chaque mois détermine la part variable du salarié en fonction du chiffre d'affaires obtenu ce même mois
* coût mensuel = Somme de l'ensemble des parts variables mensuelles

In [12]:
df['coutmensuel'] = df.CAJANV.apply(find_variable)+df.CAFEV.apply(find_variable)+df.CAMARS.apply(find_variable)+df.CAAVRIL.apply(find_variable)+df.CAMAI.apply(find_variable)+df.CAJUIN.apply(find_variable)+df.CAJUILL.apply(find_variable)+df.CAAOUT.apply(find_variable)+df.CASEPT.apply(find_variable)+df.CAOCT.apply(find_variable)+df.CANOV.apply(find_variable)+df.CADEC.apply(find_variable)

In [13]:
df.head()

,CAJANV,CAFEV,CAMARS,CAAVRIL,CAMAI,CAJUIN,CAJUILL,CAAOUT,CASEPT,CAOCT,CANOV,CADEC,SMIC,coutmensuel
0,28159,21008,19557,3710,20836,6414,8686,5008,22117,23192,30729,40019,19237.8228,43000.72
1,33341,32849,6017,35810,35411,4118,8809,39081,35183,19257,33134,40532,19237.8228,62344.70
2,30463,24041,40928,44594,12695,1261,42966,24757,16843,41750,36750,51,19237.8228,62312.74
3,39689,4975,33500,9748,28122,12709,7140,43354,8217,42268,27682,20336,19237.8228,51714.04
4,25216,35466,6606,49988,33907,43304,27805,21610,36685,30610,34510,45158,19237.8228,77446.34

In [14]:
"""#Test de la première ligne
find_variable(35032)+find_variable(16718)+find_variable(40326)+find_variable(5120)+find_variable(14451)+find_variable(3222)+find_variable(23947)+find_variable(31506)+find_variable(15824)+find_variable(7958)+find_variable(42862)+find_variable(181)"""

'#Test de la première ligne\nfind_variable(35032)+find_variable(16718)+find_variable(40326)+find_variable(5120)+find_variable(14451)+find_variable(3222)+find_variable(23947)+find_variable(31506)+find_variable(15824)+find_variable(7958)+find_variable(42862)+find_variable(181)'

##### Création d'une colonne "Total mensuel"
* Coût total chargé de l'employeur si calcul mensuel ((SMIC annuel brut + VARIABLE annuelle brute) * 1.045)

In [30]:
df['totalmensuel'] = (df['SMIC']+df['coutmensuel'])*cout_charge

In [31]:
df.head()

,CAJANV,CAFEV,CAMARS,CAAVRIL,CAMAI,CAJUIN,CAJUILL,CAAOUT,CASEPT,CAOCT,CANOV,CADEC,SMIC,coutmensuel,totalmensuel,couttrimestriel,totaltrimestriel,coutsemestriel,totalsemestriel
0,28159,21008,19557,3710,20836,6414,8686,5008,22117,23192,30729,40019,19237.8228,43000.72,65039.277226,41213.03,62305.43915,41899.64,63022.9466
1,33341,32849,6017,35810,35411,4118,8809,39081,35183,19257,33134,40532,19237.8228,62344.70,85253.736326,64708.40,86858.10080,64708.40,86858.1008
2,30463,24041,40928,44594,12695,1261,42966,24757,16843,41750,36750,51,19237.8228,62312.74,85220.338126,62248.80,84287.81880,63419.80,85511.5138
3,39689,4975,33500,9748,28122,12709,7140,43354,8217,42268,27682,20336,19237.8228,51714.04,74144.696626,53362.20,75001.32180,55548.00,77285.4828
4,25216,35466,6606,49988,33907,43304,27805,21610,36685,30610,34510,45158,19237.8228,77446.34,101034.950126,78173.00,100928.60780,78173.00,100928.6078

##### Création d'une fonction qui détermine le barème avec le calcul trimestriel

In [17]:
def find_bareme_trimestre(T):
    ca = int(T/3)
    if ca in range(0, 2500):
        return bareme[0]
    if ca in range(2500, 4166):
        return bareme[1]
    if ca in range(4166, 8333):
        return bareme[2]
    if ca in range(8333, 12500):
        return bareme[3]
    if ca in range(12500, 16666):
        return bareme[4]
    if ca in range(16666, 20833):
        return bareme[5]
    if ca >= 20833:
        return bareme[6]

##### Création d'une colonne "Coût trimestriel"
* La somme des chiffres d'affaires obtenus de chaque trimestre détermine la part variable du salarié

In [18]:
df['couttrimestriel'] = (((df.CAJANV+df.CAFEV+df.CAMARS).apply(find_bareme_trimestre))*(df.CAJANV+df.CAFEV+df.CAMARS)) + (((df.CAAVRIL+df.CAMAI+df.CAJUIN).apply(find_bareme_trimestre))*(df.CAAVRIL+df.CAMAI+df.CAJUIN)) + (((df.CAJUILL+df.CAAOUT+df.CASEPT).apply(find_bareme_trimestre))*(df.CAJUILL+df.CAAOUT+df.CASEPT)) + (((df.CAOCT+df.CANOV+df.CADEC).apply(find_bareme_trimestre))*(df.CAOCT+df.CANOV+df.CADEC))

##### Création d'une colonne "Total trimestriel"
* Coût total chargé de l'employeur si calcul trimestriel ((SMIC annuel brut + VARIABLE annuelle brute) * 1.045)

In [32]:
df['totaltrimestriel'] = (df['SMIC']+df['couttrimestriel'])*cout_charge

##### Création d'une fonction qui détermine le barème avec le calcul semestriel

In [20]:
def find_bareme_semestre(S):
    ca = int(S/6)
    if ca in range(0, 2500):
        return bareme[0]
    if ca in range(2500, 4166):
        return bareme[1]
    if ca in range(4166, 8333):
        return bareme[2]
    if ca in range(8333, 12500):
        return bareme[3]
    if ca in range(12500, 16666):
        return bareme[4]
    if ca in range(16666, 20833):
        return bareme[5]
    if ca >= 20833:
        return bareme[6]

##### Création d'une colonne "Coût semestriel"
* La somme des chiffres d'affaires obtenus de chaque semestre détermine la part variable du salarié

In [21]:
df['coutsemestriel'] = (df.CAJANV+df.CAFEV+df.CAMARS+df.CAAVRIL+df.CAMAI+df.CAJUIN).apply(find_bareme_semestre)*(df.CAJANV+df.CAFEV+df.CAMARS+df.CAAVRIL+df.CAMAI+df.CAJUIN) + (df.CAJUILL+df.CAAOUT+df.CASEPT+df.CAOCT+df.CANOV+df.CADEC).apply(find_bareme_semestre)*(df.CAJUILL+df.CAAOUT+df.CASEPT+df.CAOCT+df.CANOV+df.CADEC)

##### Création d'une colonne "Total semestriel"
* Coût total chargé de l'employeur si calcul semestriel ((SMIC annuel brut + VARIABLE annuelle brute) * 1.045)

In [33]:
df['totalsemestriel'] = (df['SMIC']+df['coutsemestriel'])*cout_charge

In [34]:
df.head()

,CAJANV,CAFEV,CAMARS,CAAVRIL,CAMAI,CAJUIN,CAJUILL,CAAOUT,CASEPT,CAOCT,CANOV,CADEC,SMIC,coutmensuel,totalmensuel,couttrimestriel,totaltrimestriel,coutsemestriel,totalsemestriel
0,28159,21008,19557,3710,20836,6414,8686,5008,22117,23192,30729,40019,19237.8228,43000.72,65039.277226,41213.03,63171.141176,41899.64,63888.648626
1,33341,32849,6017,35810,35411,4118,8809,39081,35183,19257,33134,40532,19237.8228,62344.70,85253.736326,64708.40,87723.802826,64708.40,87723.802826
2,30463,24041,40928,44594,12695,1261,42966,24757,16843,41750,36750,51,19237.8228,62312.74,85220.338126,62248.80,85153.520826,63419.80,86377.215826
3,39689,4975,33500,9748,28122,12709,7140,43354,8217,42268,27682,20336,19237.8228,51714.04,74144.696626,53362.20,75867.023826,55548.00,78151.184826
4,25216,35466,6606,49988,33907,43304,27805,21610,36685,30610,34510,45158,19237.8228,77446.34,101034.950126,78173.00,101794.309826,78173.00,101794.309826

Sur 100 000 CA aléatoires, le calcul mensuel semble le plus intéressant pour l'employeur

In [35]:
df.totalmensuel.sum()

7993764854.2565

In [40]:
df.totalmensuel.mean()

79937.64854256499

In [36]:
df.totaltrimestriel.sum()

8073042592.2201

In [41]:
df.totaltrimestriel.mean()

80730.42592220062

In [37]:
df.totalsemestriel.sum()

8138950997.5763

In [42]:
df.totalsemestriel.mean()

81389.50997576138

#### Exportation du DataFrame

In [38]:
df.to_csv('simu-remu-courtier.csv', index=False)